/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

/*--------------------------------HEADER----------------------------*/

header {
    margin: 0 0 30px 0;
}

.orange-row {
    min-height: 75px;
    background-color: orangered;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
}

.logo {
    width: 15%;
}

.orange-row a{
    color: white;
    text-decoration: none;
    padding: 0 5px;
}

/*-----------------------------END HEADER-------------------------*/


/*------------------------------MAIN------------------------------*/

img {
    max-width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/*-------------------------------STRUCTURE---------------------------*/
.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.col {
    width: calc(100% / 3 - (40px / 3));
    height: 300px;
}

/*-------------------------------------Card---------------------------------*/
.card {
    position: relative;
}

.discount {
    position: absolute;
    bottom: 15%;
    left: 0px;
    background-color: red;
}

.attribute {
    position: absolute;
    bottom: 15%;
    left: 20%;
    background-color: green;
}

.heart {
    position: absolute;
    top: 10px;
    right: 0px;
    color: black;
    background-color: white;
    padding: 5px;
}

.brand {
    position: absolute;
    left: 0px;
    bottom: 30px;
}

.product-name {
    position: absolute;
    left: 0px;
    bottom: 20px;
}

.disc-price {
    position: absolute;
    left: 0px;
    bottom: 5px;
}

.orig-price {
    position: absolute;
    left: 20%;
    bottom: 5px;
}
